<div class="row", id="contbox">
        <div class="col-md-8" id="mainNews">
          <figure class="effect-lily">
            <img src="<%=article[article.length-1].image%>" alt="img12" height="500px"/>
            <figcaption>
              <div>
                <h2><%= article[article.length-1].name %></h2>
                <p><a class="read" href="<%=article[article.length-1].id %>">читати далі</a></p>
              </div>
            </figcaption>     
          </figure>
        </div>

        <div class="col-md-4" id="yyy">

          <div class="smallMain">
           <figure class="effect-small">
             <img src="<%=article[article.length-2].image%>" alt="img12" /> 
            <figcaption>
                <h2 class="litle"><%= article[article.length-2].name %></h2>
                <p><a class="small" href="<%=article[article.length-2].id %>">читати далі</a></p>
            </figcaption>   
          </figure>
          </div>


          <div class="smallMain">
           <figure class="effect-small">
             <img src="<%=article[article.length-3].image%>" alt="img12" /> 
            <figcaption>
                <h2 class="litle"><%= article[article.length-3].name %></h2>
                <p><a class="small" href="<%=article[article.length-3].id %>">читати далі</a></p>
            </figcaption>   
          </figure>
          </div>

          <div class="smallMain">
           <figure class="effect-small">
             <img src="<%=article[article.length-4].image%>" alt="img12" /> 
            <figcaption>
                <h2 class="litle"><%= article[article.length-4].name %></h2>
                <p><a class="small" href="<%=article[article.length-4].id %>">читати далі</a></p>
            </figcaption>   
          </figure>
          </div>
        </div>

     

      </div>
    </div>